.page .content.satu{
    height: 100%;
    display: grid;
    grid-template-rows: .4fr auto .4fr .4fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    color: #B48126;
}

.page .content.satu h4{
    letter-spacing: 2px;
    font-weight: lighter;
}

/* Main */

.page .content.satu .pasangan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page .content.satu .pasangan img{
    width: 200px;
}

.page .content.satu .pasangan h1{
    font-size: 56px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.page .content.satu .pasangan h3{
    font-size: 28px;
}

.page .content.satu p{
    opacity: 0;
    font-size: 12px;
    letter-spacing: 1px;
}

/* tanggal */

.page .content.satu .tanggal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .content.satu .tanggal .masehi{
    display: flex;
    justify-content: space-between;
}

.page .content.satu .tanggal .masehi span{
    width: 3px;
    height: 40px;
    background-color: #B48126;
    margin: 3px 20px;
}

.page .content.satu .tanggal .masehi h4{
    align-self: center;
    font-size: 32px;
    font-weight: bolder;
}

.page .content.satu .tanggal h6{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
}

@media (max-width:576px) {
    .page .content.satu{
        grid-template-rows: repeat(auto);
        align-items: center;
        justify-items: center;
        gap: 5px;
    }

    .page .content.satu h4{
        font-size: 14px;
        letter-spacing: 4px;
    }

    .page .content.satu p{
        font-size: 10px;
        text-align: center;
        width: 60%;
    }

    .page .content.satu .tanggal .masehi span{
        height: 28px;
    }

    .page .content.satu .tanggal .masehi h4{
        font-size: 24px;
    }

    .page .content.satu .tanggal h6{
        font-size: 12px;
    }
}